@{
    ViewBag.Title = "Home Page";
}





    <h3 id="pageAceuil"> L’association SportAsso souhaiterait avoir un site web pour gérer la préinscription/inscription et la gestion de ses adhérents (dossier complet, paiement). Les futurs adhérents pourront faire une inscription en ligne en fonction des places disponibles.</h3>

    


