@{
    ViewBag.Title = "Home Page";
}





 <h1 id="pageAceuil"> Bienvenue sur Mutli-Sport! </h1>
 <div id="textIndex">
     C'est le site web de l'association SportAsso
     qui vous permet de vous inscrire aux differentes disciplines et ces differentes sections (Competition, loisirs, etc.)
     <br />Pour pouvoir vous inscrire, il faut desormais devenir adherent.
 </div>

    


